// CSS Chung
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    color: white;
    height: 30px;
    font-weight: 500;
    margin-top: 5px;
}
