// CSS Chung
.wrapper {
}

// CSS Container
.container {
    display: flex;
    padding: 50px;
}

// CSS Image container
.img-container {
    flex: 1;
}

// CSS Image
.img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

// CSS Info container
.info-container {
    flex: 1;
    padding: 0 50px;
}

// CSS Title
.title {
    font-weight: 200;
}

// CSS Description
.description {
    margin: 20px 0;
}

// CSS Price
.price {
    font-weight: 100;
    font-size: 4rem;
}

// CSS Filter-container
.filter-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 30px 0;
}

// CSS Filter
.filter {
    display: flex;
    align-items: center;
}

// CSS filter title
.filter-title {
    font-size: 2rem;
    font-weight: 200;
}

// CSS Filter color
.filter-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;

    &.black {
        background-color: black;
    }

    &.darkblue {
        background-color: darkblue;
    }

    &.gray {
        background-color: gray;
    }
}

// CSS Filter size
.filter-size {
    margin-left: 10px;
    padding: 5px;
}

// CSS Add container
.add-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

// CSS Amount container
.amount-container {
    display: flex;
    align-items: center;
    font-weight: 700;
}

// CSS amount
.amount {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

// CSS Add product
.add-product {
    padding: 10px;
    border: 1px solid teal;
    background-color: white;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background-color: #f8f4f4;
    }
}
