/* CSS Chung */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 5px;
    min-width: calc(25% - 10px); /* 25% for 4 items, subtracting margins */
    max-width: calc(25% - 10px);
    height: 350px;
    background-color: #f5fbfd;
    position: relative;

    &:hover .info {
        opacity: 1;
    }
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}

.img {
    height: 75%;
    z-index: 2;
}

/* CSS Info */
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
        background-color: #e9f5f5;
        transform: scale(1.1);
    }
}

/* For mobile */
@media only screen and (max-width: 380px) {
    .wrapper {
        min-width: 325px;
    }
}
