/* CSS Chung */
.wrapper {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

/* For mobile */
@media only screen and (max-width: 380px) {
    .wrapper {
        padding: 0;
        flex-direction: column;
    }
}
