/* CSS container */
.container {
    padding: 20px;
}

.cart-title {
    font-weight: 300;
    text-align: center;
}

/* CSS Top */
.top {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.top-button {
    padding: 10px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;

    &.filled {
        border: none;
        background-color: black;
        color: white;
    }
}

.top-text {
    margin: 0 10px;
    text-decoration: underline;
    cursor: pointer;
}

/* CSS Bottom */
.bottom {
    display: flex;
    justify-content: space-between;
}

.info {
    flex: 3;
}

.product {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

.product-detail {
    display: flex;
    flex: 2;
}

.product-img {
    width: 200px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.product-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    &.black {
        background-color: black;
    }

    &.gray {
        background-color: gray;
    }
}

.price-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.product-amount-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-amount {
    font-size: 2.4rem;
    margin: 5px;
}

.product-prize {
    font-size: 3rem;
    font-weight: 200;
}

/* CSS Break line */
.break-line {
    background-color: #eee;
    border: none;
    height: 1px;
}

/* CSS Summary */
.summary {
    flex: 1;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    // height: 50vh;
}

.summary-title {
    font-weight: 200;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

    &.total {
        font-size: 2.4rem;
        font-weight: 500;
    }
}

.checkout-button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
}

/* For mobile */
@media only screen and (max-width: 380px) {
    .container {
        padding: 10px;
    }

    .top-texts {
        display: none;
    }

    .bottom {
        flex-direction: column;
    }

    .product {
        flex-direction: column;
    }

    .product-amount {
        margin: 5px 15px;
    }

    .product-prize {
        margin-bottom: 20px;
    }
}
