/* CSS Chung */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: #fcf5f5;
    flex-direction: column;
}

.title {
    margin: 20px;
    font-size: 7rem;
}

.description {
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 20px;
}

/* CSS Input Container */
.input-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 40px;
    background-color: white;
    border: 1px solid lightgray;
}

.input {
    border: none;
    flex: 8;
    padding-left: 20px;
}

.button {
    flex: 1;
    border: none;
    background-color: teal;
    color: white;
}

/* For mobile */
@media only screen and (max-width: 380px) {
    .description {
        text-align: center;
    }

    .input-container {
        width: 80%;
    }
}
