/* CSS Chung */
.wrapper {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgba(251, 251, 255);
    position: sticky;
    top: 50px;
}

/* CSSS Container */
.container {
    padding: 20px;
    color: #555;
}

.menu {
    margin-bottom: 10px;
}

.title {
    font-size: 1.3rem;
    color: rgba(187, 186, 186);

}

.list {
    padding: 5px;
}

.item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;

    &.active, &:hover {
        background-color: rgb(240, 240, 255);
    }
}

.icon {
    margin-right: 5px;
    font-size: 1.5rem;
}