/* CSS Chung */
.wrapper {
    flex: 1;
    margin: 3px;
    height: 70vh;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title {
    color: white;
    margin-bottom: 20px;
}

.button {
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
    background-color: white;
    color: gray;
    cursor: pointer;
}

/* For mobile */
@media only screen and (max-width: 380px) {
    .img {
        height: 20vh;
    }
}
