/* CSS Chung */
.wrapper {
    display: flex;
}

/* CSS Left */
.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.description {
    margin: 20px 0;
}

.social-media {
    display: flex;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;

    &.facebook {
        background-color: #3b5999;
    }

    &.twitter {
        background-color: #55acee;
    }

    &.instagram {
        background-color: #e4405f;
    }
}

/* CSS Center */
.center {
    flex: 1;
    padding: 20px;
}

.title {
    margin-bottom: 30px;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    width: 50%;
    margin-bottom: 10px;
}

/* CSS Right */
.right {
    flex: 1;
    padding: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-icon {
    margin-right: 10px;
}

.payment {
    width: 50%;
}

/* For mobile */
@media only screen and (max-width: 380px) {
    .wrapper {
        flex-direction: column;
    }

    .center {
        display: none;
    }

    .right {
        background-color: #fff8f8;
    }
}
