/* CSS chung */
.wrapper {
    height: 60px;
}

/* CSS Container */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

/* CSS Left */
.left {
    display: flex;
    align-items: center;
    flex: 1;
}

.language {
    font-size: 1.4rem;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 25px;
    border: 0.5px solid lightgrey;
}

.input {
    border: none;
}

.search-icon {
    font-size: 1.2rem;
    color: gray;
}

/* CSS Center */
.center {
    text-align: center;
    flex: 1;
}

.logo {
    font-weight: bold;
}

/* CSS Right */
.right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -14px;
    right: -9px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: darkblue;
    font-size: 1.4rem;
    color: #fff;
}

.menu-item {
    font-size: 1.4rem;
    margin-left: 25px;
    cursor: pointer;
}

.cart-icon {
    font-size: 1.6rem;
}

/* For mobile */
@media only screen and (max-width: 380px) {
    .wrapper {
        height: 50px;
    }

    .container {
        padding: 10px 0;
    }

    .language {
        display: none;
    }

    .input {
        width: 50px;
    }

    .logo {
        font-size: 2.4rem;
    }

    .right {
        flex: 2;
        justify-content: center;
    }

    .menu-item {
        font-size: 1.2rem;
        margin-left: 10px;
    }
}
